Source: tlp
Section: utils
Priority: optional
Maintainer: Thomas Koch <linrunner@gmx.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.5
Homepage: http://linrunner.de/tlp
Vcs-Git: https://github.com/linrunner/TLP.git
Vcs-Browser: https://github.com/linrunner/TLP/tree/master

Package: tlp
Architecture: all
Depends: ${misc:Depends}, pm-utils
Recommends: tlp-rdw, ethtool, smartmontools, wireless-tools
Suggests: tp-smapi-dkms
Conflicts: laptop-mode-tools
Description: Save battery power on laptops
 TLP implements advanced power management for Linux. TLP is a pure
 command line tool with automated background tasks. It does not
 contain a GUI.

Package: tlp-rdw
Architecture: all
Depends: ${misc:Depends}, network-manager, tlp
Description: Radio device wizard
 Switch radios upon network connect/disconnect and dock/undock.
